* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
 
    -webkit-bacground-size: cover;
    background-size: cover;
    bacgraund background-attachment: fixed;
}
.contenedor .form .form-header .form-title{
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color
}